body {
  font-family: 'Open Sans', sans-serif;
  background: #252525;
  /*background: #66CEFF;*/
  text-align: center;
  margin-top: 100px;
}

.g-signin2 {
  position: fixed;
  right: 0;
  margin-top: -22px;
  margin-right: 20px;
}

.header {
  background: #ffffff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 1px 5px grey;
}

.logotext  {
  left: 0;
  margin-top: 5px;
}

.nav {
display: flex;
flex: auto;
justify-content: left;
margin: 0 120px;
}

.nav a{
  /*display: inline-block;*/
  text-decoration: none;
  margin-top: 10px;
  color: grey;
  font-size: 20px;
  font-weight: 300;
  padding-right: 60px;
  text-align: center;
}

.stats  {
  color: #252525;
  background: #333333;
  width: 220px;
  border-radius: 20px;
  box-shadow: 0 1px 5px grey;
  display: inline-block;
  position: absolute;
  margin: 450px -105px;
}

img {
  width: 80%;
  height: 80%;
}

.stats h1 {
  margin: 0px auto;
  font-weight: 300;
  font-size: 26px;
  color: #fff;
  /*margin-bottom: -10px;*/
}

.progress-bar  {
  margin-bottom: 10px;
}

#scene {
  display: inline-block;
}

.ui-view  {
  position: fixed;
  left: 10px;
  top: 50px;
}

/*SHOP*/

.shop {
  background: #fff;
  margin-top: 0px;
  margin-left: 50px;
  width: 320px;
  height: 320px;
  border-radius: 0px 0px 20px 20px;
  /*box-shadow: 0 1px 5px #7b7a7b;*/
  /*overflow-y: scroll;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.item-box {
  width: 125px;
  height: 125px;
  margin: 10px;
  /*display: inline-block;*/
  /*text-align: left !important;*/
  border: 3px solid #7b7a7b;
  border-radius: 20px;
  background-color: #ccdfe5;
  position: relative;
  /*float: left;*/
  overflow: hidden;
}

.insufficient-funds {
  border: 3px solid #7b7a7b;
  /*display: inline-block;*/
  background-color: #ccdfe5;
}
.insufficient-funds > img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.insufficient-funds > .price {
  color: #fe6e33;
}

.price {
  position: absolute;
  top: 8px;
  line-height: 25px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans";
  left: 0;
  width: 40%;
  text-align: center;
  background-color: #343334;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fed333;
}

.coin {
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #fcd335;
  border-radius: 100%;
  margin-right: 4px;
  border: 2px solid #fdc905;
}

.item-text {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  bottom: 5px;
  width: 100%;
  background-color: rgba(0,0,0,0.35);
  color: #F1F1F1;
}

/*COINS HEADER*/

.coins {
  margin-top: -30px;
}

.coins-img{
  margin-top: -10px;
  height: 64px;
  width: 64px;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: crimson;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #252525;
}

.loader img {
  margin-top: 250px;
  width: 25%;
  height: 25%;
}
