body {
  font-family: 'Open Sans', sans-serif;
  background: #252525;
  /*background: #66CEFF;*/
  text-align: center;
  margin-top: 100px;
  overflow: hidden;
}

.header {
  background: #333333;
  height: 50px;
  width: 100%;
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 2px 1px #000;
}

.logotext {
  left: 0;
  margin-top: 5px;
}

.nav {
  display: inline-block;
   margin: 0 120px;
}

.nav a {
  /*display: inline-block;*/
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding-right: 60px;
  text-align: center;
  line-height: 50px;
}

.coins {
  line-height: 50px;
  float: right;
  padding-right: 20px;
  color: white;
}

#coin_count {
  margin-left: 5px;
  line-height: 50px;
}

.stats {
  color: #252525;
  background: #333333;
  width: 220px;
  border-radius: 20px;
  box-shadow: 0 2px 1px #000;
  display: inline-block;
  position: absolute;
  margin: 530px -110px;
}

img {
  width: 80%;
  height: 80%;
}

.stats h1 {
  margin: 0px auto;
  font-weight: 300;
  font-size: 26px;
  color: #fff;
  /*margin-bottom: -10px;*/
}

.progress-bar {
  margin-bottom: 10px;
}

#scene {
  display: inline-block;
  margin-top: 80px;
}

.ui-view {
  position: fixed;
  left: 10px;
  top: 50px;
}

/*SHOP*/
.shop {
  background: #fff;
  margin-top: 160px;
  margin-left: 50px;
  width: 1320px;
  height: 330px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 2px 1px #000;
  /*overflow-y: scroll;*/
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;;
}

.item-box {
  width: 250px;
  height: 250px;
  margin: 37px;
  /*display: inline-block;*/
  /*text-align: left !important;*/
  border: 3px solid #7b7a7b;
  border-radius: 20px;
  background-color: #ccdfe5;
  position: relative;
  /*float: left;*/
  overflow: hidden;
}

.insufficient-funds {
  border: 3px solid #7b7a7b;
  /*display: inline-block;*/
  background-color: #ccdfe5;
}

.insufficient-funds > img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.insufficient-funds > .price {
  color: #fe6e33;
}

.price {
  position: absolute;
  top: 8px;
  line-height: 25px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans";
  left: 0;
  width: 40%;
  text-align: center;
  background-color: #343334;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fed333;
}

.coin {
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #fcd335;
  border-radius: 100%;
  margin-right: 4px;
  border: 2px solid #fdc905;
}

.item-text {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  bottom: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  color: #F1F1F1;
}

/*LOADER*/
.loader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: crimson;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #252525;
}

.loadwrapper {
  /*opacity: 0;*/
  /*display: none;*/
  background: #333333;
  /*border: 1px solid #aeaeae;*/
  border-radius: 20px;
  width: 300px;
  height: 400px;
  margin: 160px auto;
  box-shadow: 0 2px 1px black;
}

.load-title {
  opacity: 0;
  color: #fff;
  display: inline-block;
  position: fixed;
  margin-top: 40px;
  margin-left: 115px;
  z-index: 9999;
  /*margin: 0 auto;*/
}

.loadingtext {
  opacity: 0;
  color: #fff;
  display: inline-block;
  position: fixed;
  top: 340px;
  margin: 87px;
  z-index: 9999;
  /*margin: 0 auto;*/
}

.pageloader-img {
  opacity: 0;
  margin-top: 100px;
  width: 300px;
  height: 160px;
}

.githublogin {
  /*display: none;*/
  /*width: 50%;*/
  margin: 0 auto;
  margin-top: -10px;
  /*z-index: 9999;*/
}

.github-img {
  width: 250px;
  box-shadow: 0 2px 1px grey;
}

.googlelogin {
  /*visibility: */
  /*width: 50%;*/
  margin: 0 auto;
  margin-top: 10px;
  /*z-index: 9999;*/
}

.google-img {
  width: 250px;
  box-shadow: 0 2px 1px grey;
}

.userloggedin {
  background: #333333;
  height: 74px;
  width: 300px;
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 1;
  box-shadow: 0 2px 1px black;
  border-radius: 0px 0px 0px 20px;
  text-align: left;
}

.profile-img {
  margin: 5px 10px 5px 5px;
  display: inline-block;
  float: left;
  width: 64px;
  height: 64px;
  border-radius: 0px 0px 0px 20px;
}

.profile-img-mini {
  margin: 10px 40px 5px 5px;
  display: inline-block;
  float: right;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.username {
  font-weight: 300;
  color: white;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userloggedin > span {
  color: gray;
  padding-bottom: 0;
  margin: 0;
}

/*HEARTS*/
@-moz-keyframes heartbeat {
  0% {
    opacity: 1;
    -moz-transform: rotate(45deg) scale(0.8) translate(200px, 200px);
    transform: rotate(45deg) scale(0.8) translate(200px, 200px);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes heartbeat {
  0% {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale(0.8) translate(200px, 200px);
    transform: rotate(45deg) scale(0.8) translate(200px, 200px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes heartbeat {
  0% {
    opacity: 1;
    -moz-transform: rotate(45deg) scale(0.8) translate(200px, 200px);
    -ms-transform: rotate(45deg) scale(0.8) translate(200px, 200px);
    -webkit-transform: rotate(45deg) scale(0.8) translate(200px, 200px);
    transform: rotate(45deg) scale(0.8) translate(200px, 200px);
  }
  100% {
    opacity: 0;
  }
}
.heart-container {
  position: relative;
  top: -120px;
  left: -20px;
}

.heartbeat {
  -moz-animation: heartbeat 1300ms ease 0s infinite normal;
  -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 36px;
  height: 36px;
  -moz-transform: rotate(45deg) scale(1.5) translate(0px, 0px);
  -ms-transform: rotate(45deg) scale(1.5) translate(0px, 0px);
  -webkit-transform: rotate(45deg) scale(1.5) translate(0px, 0px);
  transform: rotate(45deg) scale(1.5) translate(0px, 0px);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.heartbeat:after, .heartbeat:before {
  position: absolute;
  content: "";
  background: #e87;
}

.heartbeat:before {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}

.heartbeat:after {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 12px;
  width: 24px;
  height: 12px;
}

.selected {
  border: 3px dotted #3A96F7;
}

.selecteditembox {
  background: #fff;
  position: fixed;
  right: 30px;
  top: 90px;
  width: 64px;
  height: 64px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 2px 1px #000;
}

.selecteditembox img{
  margin-top: 7px;
  border-radius: 20px;
}

.shop-modal-success {
  background: #000;
  position: absolute;
  opacity: 0.5;
  margin: 0 auto;
  color: #3B99FC;
  left: 570px;
  width: 300px;
  height: 64px;
  border-radius: 20px 20px 20px 20px;
}

.shop-modal-success h2 {
  margin-top: 15px;
}

.shop-modal-failure {
  background: #000;
  position: absolute;
  opacity: 0.5;
  margin: 0 auto;
  color: #3B99FC;
  left: 570px;
  width: 300px;
  height: 64px;
  border-radius: 20px 20px 20px 20px;
}

.shop-modal-failure h2 {
  margin-top: 15px;
}

.feed {
  /*background: #000;*/
  opacity: 0;
  position: absolute;
  opacity: 0.5;
  margin: 0 auto;
  color: #fdc905;
  left: 570px;
  width: 300px;
  height: 64px;
  border-radius: 20px 20px 20px 20px;
}

.feed h2 {
  margin-top: 15px;
}

cursor-item {
  /*background-image: url('http://www.clipartbest.com/cliparts/M9i/4y8/M9i4y8xcE.png');*/
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: rotate(30deg);
  z-index: 99999;
}
