<div class="shop">
  <div class="items" ng-repeat="item in shop">
    <div class="item-box" ng-class="{'insufficient-funds': item.price > currentCoins}" ng-click="buyItem(currentCoins)">
      <img ng-src="{{item.img}}" />
      <div class="price"><div class="coin"></div>{{item.price}}</div>
      <div class="item-text">{{item.name}}</div>
    </div>
  </div>
</div>

<!-- <div class="item-box insufficient-funds" ng-click="buyItem()">
  <img src="http://vignette1.wikia.nocookie.net/farmville2/images/a/aa/Super-Fine_Yarn_Ball.png/revision/latest?cb=20130220230859" />
  <div class="price"><div class="coin"></div>{{item.price}}</div>
</div>

<div class="item-box" ng-click="buyItem()">
  <img src="http://vignette1.wikia.nocookie.net/farmville2/images/a/aa/Super-Fine_Yarn_Ball.png/revision/latest?cb=20130220230859" />
  <div class="price"><div class="coin"></div>{{item.price}}</div>
</div>
</div> -->
